*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.content-ham {
  background-image: url(../images/background-image-head.png);
  background-position: center;
  background-size: cover;
}
.container-ham {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  background: rgba(94, 93, 88, 0.6);
  padding: 25px;
}
.h-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.logo-letter {
  text-transform: uppercase;
  position: absolute;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  left: 13px;
}
.logo-text {
  margin-left: 6px;
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
}
.text-ham {
  color: #18cfab;
  font-weight: 700;
}
.header-nav {
  align-self: center;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-item {
  margin-right: 21.09px;
}
.header-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.header-link:hover {
  color: #18cfab;
  transition: 0.5s;
}
