*,
*::after,
*::before {
  box-sizing: border-box;
}
.page {
  height: 100%;
}
.page-header {
  text-align: center;
}
.page-body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}

.menu {
  margin: 0;
  padding: 25.5px 0 25.5px 0;
}
.menu-item {
  display: inline-block;
  padding-left: 72px;
}
.menu-link {
  color: #ff0000;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.under-header {
  margin: 0;
}
.image {
  width: 100%;
}
.top-text {
  margin-top: 49px;
  margin-bottom: 38px;
}
.head-name {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3.3px;
  font-weight: bold;
  text-align: center;
}
.text-one {
  margin-bottom: 28px;
  font-size: 16px;
  letter-spacing: 2.4px;
  padding: 0 67.5px;
  text-align: center;
}
.text-two {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2.4px;
  margin-bottom: 66px;
  padding: 0 67.5px;
  text-align: center;
}
.section-button {
  text-align: center;
  padding-top: 66px;
}
.button {
  background-color: #ff0000;
  border-radius: 4px;
  letter-spacing: 1.8px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 18px 43.5px 17px 42.5px;
}
.last-text {
  color: #373737;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2.4px;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  padding: 82px 105px 29px 0;
}
