*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.content-all {
  background-image: url(../images/background-image.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
}
.container-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
}
.header-name {
  font-size: 22px;
  text-decoration: none;
  color: #ffffff;
  margin: 18px 0;
  text-transform: uppercase;
  margin-left: 79px;
}
.header-name:hover {
  color: #01813f;
  transition: 0.5s;
}
.header-contacts {
  display: flex;
  align-self: center;
}
.logo {
  text-decoration: none;
  margin-right: 25px;
}
.icon {
  fill: white;
}
.icon:hover {
  fill: #01813f;
  transition: 0.5s;
}

.header-text-end {
  margin-right: 79px;
  position: relative;
}
.header-text-end::before {
  content: url(../images/logo/line-header.png);
  position: absolute;
  left: -11px;
}
.header-welcome {
  text-decoration: none;
  color: #ffffff;
}
.header-registration {
  text-decoration: none;
  color: #ffffff;
}
.header-registration:hover {
  color: #01813f;
  transition: 0.5s;
}
.form {
  width: 444px;
  margin: 54px auto;
  display: grid;
  padding: 31px 60px 38px;
  background-color: #ffffff;
  position: relative;
}
.form-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-name::before {
  content: "";
  background-color: #3cb878;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
}
.registration-name {
  font-size: 20px;
  color: #434343;
}
.form-registration {
  text-decoration: none;
  color: #3cb878;
  font-size: 14px;
  align-self: center;
}
.form-registration:hover {
  text-decoration: underline;
}
.container-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
.facebook-button {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #305db8;
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  cursor: pointer;
}
.facebook-button:hover {
  background-color: #022263;
  transition: 0.5s;
}
.text-facebook::before {
  content: url(../images/logo/line-fb.png);
  position: absolute;
  left: 49px;
  top: 10px;
}
.google-button {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #df4a32;
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  cursor: pointer;
}
.google-button:hover {
  background-color: #ab1f09;
  transition: 0.5s;
}
.text-google::before {
  content: url(../images/logo/line-fb.png);
  position: absolute;
  left: 58px;
  top: 10px;
}
.text-or {
  margin-bottom: 11px;
  font-size: 14px;
  color: #848484;
}
.text-or::before,
.text-or::after {
  content: url(../images/logo/line.png);
}
.form_label {
  margin-bottom: 15px;
}
input {
  outline: none;
}
.form_element {
  font-size: 14px;
  border: 1px solid #f2f2f2;
  width: 324px;
  height: 46px;
  border-radius: 4px;
  padding-left: 20px;
}
.form_element:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}
.form_element::placeholder {
  color: #bebebe;
}
.form__label--checkbox {
  display: flex;
  align-items: center;
}
/* .form__label--checkbox::before {
  content: "";
  border: 1px solid #f2f2f2;
  width: 20px;
  height: 20px;
} */
.form__label--checkbox {
  margin-bottom: 20px;
}
.form__element--checkbox {
  margin-right: 8px;
  border: 1px solid #f2f2f2;
  width: 20px;
  height: 20px;
}
input {
  outline: none;
}
.terms-text {
  font-size: 14px;
  color: #434343;
}
.terms-link {
  color: #3cb878;
  text-decoration: none;
}
.terms-link:hover {
  text-decoration: underline;
}
.item-create {
  background-color: #3cb878;
  width: 324px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 38px;
  cursor: pointer;
}
.item-create:hover {
  background-color: #01813f;
  transition: 0.5s;
}
.link-create {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
}
