*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #313131;
}
.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 29px;
}
.logo-text {
  color: #ffffff;
  padding-left: 27px;
  font-size: 22px;
  transition: all;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}
.logo-text:hover {
  transition: all;
  color: #14b9d5;
}
.header-menu {
  display: flex;
  justify-content: center;
}
.header-item {
  text-transform: uppercase;
  padding-right: 35px;
}
.header-link {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  transition: all;
}
.header-link:hover {
  transition: all;
  color: #14b9d5;
}
.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 68px;
  height: 70px;
}
.header-image {
  background-image: url(../image/header-background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 262px;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.content-name {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 44px;
  font-weight: bold;
  letter-spacing: 1px;
}

.button-left {
  background-color: #89ca62;
  border-radius: 4px;
  font-size: 18px;

  font-family: "Open Sans", sans-serif;
  margin-right: 20px;
  width: 170px;
  height: 55px;
  border: none;
}
.button-left-link {
  color: #ffffff;
}
.button-right {
  background-color: #14b9d5;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  width: 170px;
  height: 55px;
  border: none;
}
.button-right-link {
  color: #ffffff;
}
.top-content {
  padding-top: 49px;
  padding-bottom: 52px;
  background-color: #f2f2f2;
}

.content-posts {
  color: #18b4cf;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 52px;
}
.content-houses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 900px;
  margin: 0 auto;
  width: 1180px;
}
.content-sections {
  margin-right: 30px;
  background-color: #ffffff;
}
.content-sections-royal {
  margin-top: 30px;
  background-color: #ffffff;
}
.content-sections-sunset {
  margin-top: 30px;
  background-color: #ffffff;
  margin-top: 32px;
}
.content-sections-glorious {
  margin-top: 30px;
  background-color: #ffffff;
}
.content-image-name {
  margin-top: 20px;
  margin-bottom: 22px;
  text-align: center;
}
.content-most-popular {
  background-image: url(../image/background-image.jpeg);
  background-size: cover;
  background-position: center;
}
.most-popular {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 58px;
}
.content-most-head {
  text-align: center;
  padding-top: 108px;
  margin-bottom: 106px;
}
.content-most-head h2 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  color: #ffffff;
  padding-bottom: 87px;
  font-weight: bold;
}
.content-logo {
  margin-bottom: 191px;
  align-self: center;
}
.content-top-rated-head h2 {
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  padding-top: 49px;
  padding-bottom: 52px;
  font-weight: bold;
}
.top-rated {
  display: grid;
  grid-auto-flow: column;
}
.top-rated-image {
  width: 100%;
  height: 100%;
}

.content-hot-news {
  width: 1180px;
  margin: 0 auto;
}
.content-hot-news h2 {
  text-transform: uppercase;
  font-size: 27px;
  font-weight: bold;
  color: #18b4cf;
  font-family: "Open Sans", sans-serif;
  padding-top: 48px;
  padding-bottom: 51px;
  text-align: center;
}
.container-hot-news {
  display: grid;
  grid-template-areas:
    "prophecy prophecy prophecy nebula"
    "pyramid pyramid grand grand"
    "wanderlust wanderlust twin twin"
    "prism king king king";
  row-gap: 40px;
  column-gap: 60px;
}
.container-hot-news img {
  width: 100%;
}
.item-prophecy {
  grid-area: prophecy;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f9f7f7;
}
.item-prophecy img {
  height: 100%;
}
.content-prophecy {
  align-self: center;
  text-align: end;
  padding-right: 24px;
  padding-left: 12px;
  font-family: "Open Sans", sans-serif;
}
.headname-prophecy {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 14.5px;
}
.text-prophecy {
  font-size: 14px;
  line-height: 21px;
}
.item-nebula {
  grid-area: nebula;
  background-color: #f9f7f7;
  text-align: center;
  padding-bottom: 11px;
}
.headname-nebula {
  font-weight: bold;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-top: 14px;
}
.item-pyramid {
  grid-area: pyramid;
  background-color: #f9f7f7;
}
.content-pyramid {
  text-align: end;
  margin-right: 14px;
  margin-top: 12px;
  font-family: "Open Sans", sans-serif;
}
.headname-pyramid {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 15px;
}
.text-pyramid {
  line-height: 21px;
  font-size: 14px;
}
.item-grand {
  grid-area: grand;
  background-color: #f9f7f7;
}
.content-grand {
  text-align: end;
  margin-top: 14px;
  padding-right: 25px;
  font-family: "Open Sans", sans-serif;
}
.headname-grand {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 15px;
}
.text-grand {
  font-size: 14px;
  line-height: 21px;
}
.item-wanderlust {
  grid-area: wanderlust;
  background-color: #f9f7f7;
}
.content-wanderlust {
  text-align: end;
  margin-top: 12px;
  padding-right: 14px;
  font-family: "Open Sans", sans-serif;
}
.headname-wanderlust {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 15px;
}
.text-wanderlust {
  line-height: 21px;
  font-size: 14px;
}
.item-twin {
  grid-area: twin;
  background-color: #f9f7f7;
}
.content-twin {
  text-align: end;
  margin-top: 14px;
  font-family: "Open Sans", sans-serif;
}
.headname-twin {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 15px;
  padding-right: 27px;
}
.text-twin {
  padding-right: 14px;
  line-height: 21px;
  font-size: 14px;
}
.item-prism {
  grid-area: prism;
  background-color: #f9f7f7;
  text-align: center;
  padding-bottom: 20px;
}
.headname-prism {
  font-weight: bold;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  background-color: #f9f7f7;
  padding-top: 5px;
}
.item-king {
  grid-area: king;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f9f7f7;
}
.item-king img {
  height: 100%;
}
.content-king {
  text-align: end;
  align-self: center;
  padding-right: 24px;
  padding-left: 12px;
  font-family: "Open Sans", sans-serif;
}
.headname-king {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 14.5px;
}
.text-king {
  line-height: 21px;
  font-size: 14px;
}

.container-footer {
  background-color: #000000;
  margin-top: 77px;
}
.container-lioit {
  display: grid;
  grid-auto-flow: column;
  padding: 30px 0;
  align-items: center;
  width: 1180px;
  margin: 0 auto;
  justify-content: space-between;
}
.text-lioit {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
