*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  margin-top: 61px;
}
.header-logo {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}
span {
  color: rgb(65, 214, 225);
}
.header-menu {
  display: flex;
  background-color: #35444f;
  justify-content: center;
  list-style: none;
  margin-top: 38px;
}
.menu-item {
  border-left: 1px solid #ffffff;
  display: flex;
}
.menu-link {
  padding: 26px 33px 19px 32px;
  color: #ffffff;
  transition: all;
}

.menu-link:hover {
  background-color: #222f3a;
  transition: all 0.5s;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}
.side-menu {
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
}

.side-menu-link {
  color: #485863;
  font-size: 27px;
  transition: all;
  padding: 25px 40px 25px;
}

.side-menu-link:hover {
  transition: all 0.5s;
  background-color: #dbdbdb;
}
.content {
  margin-left: 52px;
  font-size: 18px;
}
.content-img {
  border: 1px solid;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 75px;
}
.image {
  transition: 1s;
}
.image:hover {
  transition: 1s;
  transform: scale(1.2);
}

.content-text {
  color: #2c2c2c;
  padding-top: 37px;
}
.content-text-2 {
  padding-top: 34px;
}
footer {
  background-color: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
}
.footer-menu {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer-link {
  color: #0c1927;
  margin-left: 27px;
  transition: all;
}
.footer-link:hover {
  transition: all 0.5s;
  color: rgb(14, 109, 146);
}
.footer-p {
  padding-right: 40px;
}
