*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background-color: #0e0e0e;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}
.main {
  transform: perspective(300px) rotateX(25deg);
  position: absolute;
  bottom: 30px;
}
.text {
  font-size: 38px;
  color: #fcf51f;
  padding-bottom: 30px;
  text-align: center;
}
.container-text {
  animation-name: animation-text;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  margin: 0 435px;
  height: 30em;
}
@keyframes animation-text {
  0% {
    padding-top: 50%;
  }
  100% {
    margin-bottom: 100%;
  }
}
