*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.content-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding-top: 51px;
}
.content-logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-text {
  transition: all;
  background-image: url(../images/logo.png);
  width: 53px;
  height: 47px;
}
.content-logo:hover .logo-text {
  background-image: url(../images/logo-orange.png);
  transition: 0.5s;
}
.content-logo:hover .content-text {
  color: #f26522;
  transition: 0.5s;
}
.content-text {
  margin-left: 10px;
}
.headname-title {
  font-weight: bold;
  font-size: 29px;
}
.headname {
  font-size: 18px;
}
.contacts {
  display: grid;
  text-align: end;
  transition: all;
}
.contacts:hover {
  transition: 0.5s;
  color: #f26522;
}
.contact-mail {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
.contact-mail:hover {
  transition: 0.5s;
  color: #f26522;
}
.contact-tel {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
.contact-tel:hover {
  transition: 0.5s;
  color: #f26522;
}
.item-shopping {
  grid-area: shopping;
  position: relative;
  overflow: hidden;
}
.item-shopping:hover .price {
  bottom: 42px;
  transition-duration: 0.5s;
}

.link-headname {
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}
.link-headname:hover {
  color: #f26522;
  transition: 0.5s;
}
.price {
  position: absolute;
  background-color: #f26522;
  bottom: -58px;
  width: 100%;
  padding: 30px 35px 12px 16px;
  display: flex;
  justify-content: space-between;
}
.price-info {
  position: relative;
  text-decoration: none;
  color: #ffffff;
}
.price-info::before {
  content: "from";
  position: absolute;
  top: -20px;
}
.price-details {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.price-details::after {
  position: absolute;
  content: ">";
  right: -16px;
}

.item-sight {
  grid-area: sight;
  position: relative;
  overflow: hidden;
}
.item-sight:hover .price {
  bottom: 40px;
  transition-duration: 0.5s;
}

.item-food {
  grid-area: food;
  position: relative;
  overflow: hidden;
}
.item-food:hover .price {
  bottom: 40px;
  transition-duration: 0.5s;
}
.item-bars {
  grid-area: bars;
  position: relative;
  overflow: hidden;
}
.item-bars:hover .price {
  bottom: 40px;
  transition-duration: 0.5s;
}
.item-art {
  grid-area: art;
  position: relative;
  overflow: hidden;
}
.item-art:hover .price {
  bottom: 40px;
  transition-duration: 0.5s;
}
.item-walking {
  grid-area: walking;
  position: relative;
  overflow: hidden;
}
.item-walking:hover .price {
  bottom: 40px;
  transition-duration: 0.5s;
}
.container-all {
  width: 1028px;
  margin: 0 auto;
}
.content {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  display: grid;
  grid-template-areas:
    "shopping sight food"
    "bars art walking";
  row-gap: 37px;
  column-gap: 62px;
  margin-top: 26px;
}
.container img {
  width: 300px;
  height: 220px;
}
.item-headname {
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
  color: #ffffff;
}
.footer-text {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 49px;
  color: #ffffff;
  font-size: 12px;
}
